.heading{
    text-align: center;
    color: #fff;
    font-size: 38px;
}
.heading span{
    
    color:#F9116C ;
}

.hero-wrapper p {
    max-width: 821px;
    color: #FFF;
    text-align: justify;
    font-family: RobotoMono-regular;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 1.15px !important;
    margin: 0 auto;
    margin-bottom: 18px;
}
.left-box,.right-box{
    width:50%;

position: relative;
}

.right-box{
    margin-left: 0px;
}

.hero-wrapper .row.align-items-center.py-5 {
    padding: 0px !important;
}
@media (max-width:768px) {
    .heading {
        text-align: left;
        color: #fff;
        font-size: 30px;
    }
    .hero-wrapper p {
        max-width: 80%;
        font-size: 12px;
        line-height: 27px;
        letter-spacing: 2.15px !important;
        margin: 0px;
    }
    .left-box, .right-box {
        width: 50%;
        height: 415.276px;
        position: relative;
    }
}
@media (max-width:425px) {
    .heading {
        text-align: left;
        color: #fff;
        font-size: 20px;
    }
    .hero-wrapper p {
        max-width: 80%;
        font-size: 12px;
        line-height: 27px;
        letter-spacing: 2.15px !important;
        margin: 0px;
    }
    .left-box, .right-box {
        margin-bottom: 40px;
    }
}