button.btn.btn-primary {
    padding: 20px 27px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-image: url(../../assets/images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    color: #FFF;
    font-family: "RobotoMono-regular";
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
button.btn.btn-primary span{
    padding-left: 15px;
}