.cta-wrapper h2{
    background: linear-gradient(272deg, #F96746 3.28%, #FFE500 56.57%, #C800C0 96.67%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Arame-Bold";
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 101.329%; /* 112.475px */
text-align: center;
margin-bottom: 0px;
}
.cta-wrapper{
    margin: 100px 0px;
    padding: 80px 20px;
    border-radius: 27px;
border: 1px solid #C700BF;
background: rgba(255, 77, 0, 0.10);
box-shadow: 37.067px -37.067px 37.067px -16px rgba(208, 35, 162, 0.10) inset, -37.067px 37.067px 37.067px -16px rgba(250, 131, 54, 0.10) inset;
backdrop-filter: blur(37.06666564941406px);
}
.cta-wrapper button {
    margin-top: 40px !important;
    padding: 15px 27px !important;
}