.first-clients {
  background: url(../../assets/images/whychoose/first.svg) no-repeat center
    center / contain;
  padding: 59px 60px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4F4F4F;
}
.sec-clients {
  background: url(../../assets/images/whychoose/sec-clients.svg) no-repeat center
    center / contain;
  padding: 59px 60px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4F4F4F;
}
.third-clients {
  background: url(../../assets/images/whychoose/third-clients.svg) no-repeat center
    center / contain;
  padding: 59px 60px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4F4F4F;
}
.sec-clients h2{
    text-align: justify !important; 
}
.first-clients h2,
.sec-clients h2,
.third-clients h2 {
  padding-top: 36px;
  text-align: center;
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4f4f4f;
  font-family: "RobotoMono-Bold";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.box-wrap h2 span {
  display: block;
  padding-left: 10px;
}
.box-wrap:hover h2 {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #fff;
}
.first-clients:hover{
    background: url(../../assets/images/whychoose/bg-first.svg) no-repeat center
    center / contain;
    padding: 59px 60px;
}
.sec-clients:hover{
    background: url(../../assets/images/whychoose/bg-sec.svg) no-repeat center
    center / contain;
    padding: 59px 60px;
}
.third-clients:hover{
    background: url(../../assets/images/whychoose/bg-third.svg) no-repeat center
    center / contain;
    padding: 59px 60px;
}